.behance:hover,
.icon-behance-blue { background-image: url('png/behance-blue.png'); background-repeat: no-repeat; }

.behance,
.icon-behance-main { background-image: url('png/behance-main.png'); background-repeat: no-repeat; }

.icon-calendar-light { background-image: url('png/calendar-light.png'); background-repeat: no-repeat; }

.drupal:hover,
.icon-drupal-blue { background-image: url('png/drupal-blue.png'); background-repeat: no-repeat; }

.drupal,
.icon-drupal-main { background-image: url('png/drupal-main.png'); background-repeat: no-repeat; }

.facebook:hover,
.icon-facebook-blue { background-image: url('png/facebook-blue.png'); background-repeat: no-repeat; }

.facebook,
.icon-facebook-main { background-image: url('png/facebook-main.png'); background-repeat: no-repeat; }

.fpx:hover,
.icon-fpx-blue { background-image: url('png/fpx-blue.png'); background-repeat: no-repeat; }

.fpx,
.icon-fpx-main { background-image: url('png/fpx-main.png'); background-repeat: no-repeat; }

.github:hover,
.icon-github-blue { background-image: url('png/github-blue.png'); background-repeat: no-repeat; }

.github,
.icon-github-main { background-image: url('png/github-main.png'); background-repeat: no-repeat; }

.icon-globe-light { background-image: url('png/globe-light.png'); background-repeat: no-repeat; }

.linkedin:hover,
.icon-linkedin-blue { background-image: url('png/linkedin-blue.png'); background-repeat: no-repeat; }

.linkedin,
.icon-linkedin-main { background-image: url('png/linkedin-main.png'); background-repeat: no-repeat; }

.icon-photos-blue { background-image: url('png/photos-blue.png'); background-repeat: no-repeat; }

.icon-photos-main { background-image: url('png/photos-main.png'); background-repeat: no-repeat; }

.rss:hover,
.icon-rss-blue { background-image: url('png/rss-blue.png'); background-repeat: no-repeat; }

.rss,
.icon-rss-main { background-image: url('png/rss-main.png'); background-repeat: no-repeat; }

.twitter:hover,
.icon-twitter-blue { background-image: url('png/twitter-blue.png'); background-repeat: no-repeat; }

.twitter,
.icon-twitter-main { background-image: url('png/twitter-main.png'); background-repeat: no-repeat; }

